/*
Zero out margins and padding
on all elements and styles
*{
    margin:0;
    padding:0;
}
*/

body{
    display: flex;
    flex-direction: column;
    background-color: gray;
}

header{
    display: flex;
}

#dark-mode-toggle{
    /*display: inline-block;*/
    position: absolute;
    right: 40px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#toggle-checkbox{
    /*display: none;  this hides the checkbox */
}

#toggle-slider{
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    transition: all 0.2s ease;
}

#toggle-checkbox:checked + #toggle-slider{ 
}

#toggle-slider::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
    transition: all 0.2s ease;
}

#toggle-checkbox:checked + #toggle-slider::after{ 
    left: calc(100% - 2px);
}

main{
    display: flex;
    min-height: 100vh;
}

#searchbox{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

#search-field{
    width: 80%;
    height: 30px;
    border-radius: 20px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: light-gray;
  color: white;
  text-align: center;
}
